.lists-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-container {
	border: 1px solid #ccc;
	padding: "10px";
	margin: "10px";
	cursor: "pointer";
	width: 300px;
	min-height: 50px;
}

.item-form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

.submit-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}

.submit-button:hover {
	background-color: #0056b3;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	position: relative;
	max-width: 500px;
	width: 100%;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 18px;
	color: #000; /* or another color that contrasts with the background */
}

.close-button::before {
	content: "✖"; /* Unicode character for the 'X' symbol */
	display: block;
	text-align: center;
	line-height: 24px; /* Ensure this matches the height of the button */
}

.user-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.user-email {
	font-size: 16px;
	color: #333;
}

.delete-button {
	display: flex;
	align-items: center;
}

.delete-button button {
	background: transparent;
	border: none;
	color: #f00;
	cursor: pointer;
	font-size: 18px;
	transition: color 0.3s;
}

.delete-button button:hover {
	color: #c00;
}
